<div class="back pt-5">
  <div class="back1"></div>
</div>
<div class="container mt-5">
  <div class="col-md-9">
    <h1 style="font-family:微軟正黑體;font-weight:900; font-size:50px">
      搜尋
    </h1>

    <button routerLink="data/145" routerLinkActive="Active" class="btn btn-dark">台機電</button>
    <div class="card" style="width:135%;background-color: black;">
      <div class="form-outline">
        <input type="text" id="searchBar" class="form-control" placeholder="EX:2330 台積電" #data
          (keyup)="Dokeyup(data.value)" />
      </div>
      <div class="list-group list-group-flush" *ngFor="let item of getJsonData">
        <!-- 搜尋點進來之後傳入id，以便資料頁面CallAPI -->
        <a routerLink="/data/{{item.id}}" routerLinkActive="active"
          class="list-group-item list-group-item-action active" style="background-color:#181A1B;color:azure">
          {{item.companyNumber}} {{item.companyName}}
        </a>
      </div>
    </div>
  </div>

  <br>
  <div class="row d-flex justify-content-center ">

    <div class="col-6">
      <h2>永續發展 你我有責</h2>
      <div>
        <hr>
        <P class="context_">ESG分別是環境保護（E，Environmental）、社會責任（S，Social）
          以及公司治理（G，governance）的縮寫，是一種新型態評估企業的數據與指標，ESG代表的是企業社
          會責任，許多企業或投資人會將ESG評分，視為評估一間企業是否永續經營重要的指標及投資決策。
          ESG概念最初被提出，可以回溯到2004年聯合國當時發佈一份《Who Cares Wins》報告，裡面提到ESG
          適用在企業在投資決策和風險管理流程的評估策略，並且從環境、社會與企業治理的維度中，關注具體能改善跟優化的項目：</P>
        <hr>
      </div>
    </div>
    <div class="col-6">
      <img 
      src="../../assets/images/tree.jpg "
        alt="">
    </div>

    <div>
      <p><br></p>
    </div>
    <br><br>
    <div class="col-6">
      <img 
      src="../../assets/images/tree2.jpg "
        alt="">
    </div>
    <div class="col-6">
      <h2>永續發展 你我有責</h2>
      <div>
        <hr>
        <P class="context_">
              環境保護（E）面向：ESG評估公司的環境影響和永續性，企業如何管理它們的溫室氣體排放、空氣品質、碳足跡、能源使用、燃料、水資源和廢棄物處理、生物多樣性、產品包裝與物流等服務營運問題。
              社會責任（S）面向：ESG評估公司如何處理利害關係人的權益，包含管理它們的供應鏈、勞資關係、員工健康安全及舒適、多元職場、薪酬福利、招聘和職涯發展、人權、客戶隱私和安全等問題。
              公司治理（G）面向：ESG評估公司的管理和透明度，例如董事會的組成和公司內部審計與監管政策、系統化風險管理、意外與安全管理、商業倫理、政治影響、競爭行為及供應鏈管理。</P>
<hr>
      </div>
    </div>
    <div>
      <p><br></p>
    </div>
    <div class="col-12">
      <hr>
      <h1>配合公司簡介</h1>
    </div>
    <div class="container pt-4" >
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="card" style="height: 100%; width: 100%; background: linear-gradient(to bottom, #025424, #014f83); ">
            <img style="height: 100%; width: 100%;"
              src="../../assets/images/companies_small/SUS.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sustainalytics</h5>
              <p class="card-text">為全球國際永續評鑑機構，擁有30年永續評比經驗，是當前全球最具權威性的ESG評鑑機構之一設定公司治理
                的關鍵ESG議題以及企業有可能會遭遇到的獨特議題等領域,並區分出可控風險及不可控風險，0分~40分以上,分數愈低代表ESG表現愈佳
              </p>
              <a href="https://www.sustainalytics.com/" class="btn btn-primary" style="display: block; margin: 0 auto;">官方網頁</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card" style="height: 100%; width: 100%;   background: linear-gradient(to bottom, #025424, #014f83); ">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/companies_small/MSCI.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MSCI</h5>
              <p class="card-text">我們由 200 多名經驗豐富的研究分析師組成的全球團隊評估了 35 個 ESG
                關鍵問題的數千個數據點，重點關注公司核⼼業務與可能為公司帶來重⼤⾵險和/或機遇的⾏業問題之間的交叉點
                相對於⾏業同⾏的標準和績效，公司被評為 AAA 到 CCC 等級。
              </p>
              <a href="https://www.msci.com/" class="btn btn-primary" style="display: block; margin: 0 auto;">官方網頁</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card" style="height: 100%; width: 100%;   background: linear-gradient(to bottom, #025424, #014f83); ">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/companies_small/REF.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Refinitiv ESG</h5>
              <p class="card-text">Refinitiv
                ESG評等採用排序的方法計算百分位分數，主要側重公司在產業內的相對表現，能夠降低受評公司極端表現影響百分位分數的敏感度
                另外將爭議分數納入總分計算門檻，將爭議分數按照受評公司的市值給予對應的權重，用來修正公司規模上的差異。
              </p>
              <a href="https://www.refinitiv.com/en/sustainable-finance/esg-scores" class="btn btn-primary" style="display: block; margin: 0 auto;">官方網頁</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card" style="height: 100%; width: 100%;   background: linear-gradient(to bottom, #025424, #014f83); ">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/companies_small/SP.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">S&P</h5>
              <p class="card-text">S&P
                Global的ESG分數以企業的ESG表現來評分，分數從0到100，包含E（環境）、S（社會）、G（治理）三個面向的分數、同業比較、歷史分數變化、及不同類別的關鍵ESG數據 S&P
                Global的ESG分數涵蓋全球9200家企業，占全球資本總額的95%</p>
              <a href="https://www.spglobal.com/spdji/tc/indices/equity/sp-500/#overview"
                class="btn btn-primary" style="display: block; margin: 0 auto;">官方網頁</a>
            </div>
          </div>
        </div>

        <div><hr></div>

        <div class="col-6 col-md-4">
          <div class="card" style="height: 100%; width: 100%;   background: linear-gradient(to bottom, #025424, #014f83); ">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/companies_small/ISS-ESG.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ISS ESG</h5>
              <p class="card-text">ISS ESG
                公司隸屬美國Institutional Shareholder Services(ISS)集團，是全球代表性的公司治理與股東會研究供應商之一
                ，其公司內部皆具有一套完善之ESG評分模型，就公司之公開資料如年報、CSR報告及公司網站等資料透過一套評分模型進行評級</p>
              <a href="https://www.spglobal.com/spdji/tc/indices/equity/sp-500/#overview"
                class="btn btn-primary" style="display: block; margin: 0 auto;">官方網頁</a>
            </div>
          </div>
        </div>
        
        <div class="col-6 col-md-4">
          <div class="card" style="height: 100%; width: 100%;   background: linear-gradient(to bottom, #025424, #014f83); ">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/companies_small/FT.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FTSE</h5>
              <p class="card-text">FTSE
                由富時羅素公司於1984年3月創立，並迅速取代FTSE 30指數成為英國股市的基準指數, ，其成份股市值占英國股市總市值的78%
                ，因此被視為衡量英國股市總體表現的主要指數。 由於倫敦是全球最重要的金融中心，FTSE 100指數亦是成為全球最受關註的主要股票指數之一</p>
              <a href="https://www.spglobal.com/spdji/tc/indices/equity/sp-500/#overview"
                class="btn btn-primary" style="display: block; margin: 0 auto;">官方網頁</a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4">
          <div class="card" style="height: 100%; width: 100%;   background: linear-gradient(to bottom, #025424, #014f83); ">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/companies_small/TIAWAN.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">臺灣證券交易所</h5>
              <p class="card-text">臺灣證券交易所
                簡稱臺證所或證交所，為臺灣證券集中交易市場（俗稱「集中市場」）的經營機構，由臺灣證券交易所股份有限公司持有，座落於臺北101大樓內。 加權股價指數（TAIEX）即由台灣證券交易所編製，被視為是臺灣經濟走向的主要指標之一</p>
              <a href="https://www.spglobal.com/spdji/tc/indices/equity/sp-500/#overview"
                class="btn btn-primary" style="display: block; margin: 0 auto;">官方網頁</a>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>
  回饋意見
