<div class="back pt-5">
  <div class="back1"></div>
</div>
<div class="container mt-5">
  <div class="col-md-9">
    <h1 style="font-family:微軟正黑體;font-weight:900; font-size:50px">
      搜尋
    </h1>

    <button routerLink="data/145" routerLinkActive="Active" class="btn btn-dark">台機電</button>
    <div class="card" style="width:135%;background-color: black;">
      <div class="form-outline">
        <input type="text" id="searchBar" class="form-control" placeholder="EX:2330 台積電" #data
          (keyup)="Dokeyup(data.value)" />
      </div>
      <div class="list-group list-group-flush" *ngFor="let item of getJsonData">
        <!-- 搜尋點進來之後傳入id，以便資料頁面CallAPI -->
        <a routerLink="/data/{{item.id}}" routerLinkActive="active"
          class="list-group-item list-group-item-action active" style="background-color:#181A1B;color:azure">
          {{item.companyNumber}} {{item.companyName}}
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="row d-flex justify-content-center ">

    <div class="col-6" id="animated-text">
      <h1>永續發展 你我有責</h1>
      <div>
        <hr>
        文本內容
        <hr>
      </div>
    </div>
    <div class="col-6">
      <img class="img-thumbnail"
      src="../../assets/images/tree.jpg "
        alt="">
    </div>

    <div>
      <p><br></p>
    </div>
    <br><br>
    <div class="col-6">
      <img class="img-thumbnail"
      src="../../assets/images/tree.jpg "
        alt="">
    </div>
    <div class="col-6">
      <h1>永續發展 你我有責</h1>
      <div>
        <hr>
        文本內容
        <hr>
      </div>
    </div>
    <div>
      <p><br></p>
    </div>
    <div class="col-12">
      <hr>
      <h1>配合公司簡介</h1>
    </div>
    <div class="container pt-4" >
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="card" style="height: 100%; width: 100%;">
            <img style="height: 100%; width: 100%;"
              src="../../assets/images/SUS.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sustainalytics</h5>
              <p class="card-text">為全球國際永續評鑑機構，擁有30年永續評比經驗，是當前全球最具權威性的ESG評鑑機構之一設定公司治理、關鍵ESG議題以及企業会遭遇到的獨特議題等領域,並區分出可控風險及不可控風險，0分~40分以上,分數愈低代表ESG表現愈佳。
              </p>
              <a href="https://www.sustainalytics.com/" class="btn btn-primary">官方網頁</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card" style="height: 100%; width: 100%;">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/MSCI.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MSCI</h5>
              <p class="card-text">我們由 200 多名經驗豐富的研究分析師組成的全球團隊評估了 35 個 ESG
                關鍵問題的數千個數據點，重點關注公司核⼼業務與可能為公司帶來重⼤⾵險和/或機遇的⾏業問題之間的交叉點。相對於⾏業同⾏的標準和績效，公司被評為 AAA 到 CCC 等級。
              </p>
              <a href="https://www.msci.com/" class="btn btn-primary">官方網頁</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card" style="height: 100%; width: 100%;">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/REF.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Refinitiv ESG</h5>
              <p class="card-text">Refinitiv
                ESG評等採用排序的方法計算百分位分數，主要側重公司在產業內的相對表現，能夠降低受評公司極端表現影響百分位分數的敏感度。另外將爭議分數納入總分計算門檻，將爭議分數按照受評公司的市值給予對應的權重，用來修正公司規模上的差異。
              </p>
              <a href="https://www.refinitiv.com/en/sustainable-finance/esg-scores" class="btn btn-primary">官方網頁</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card" style="height: 100%; width: 100%;">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/SP.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">S&P</h5>
              <p class="card-text">S&P
                Global的ESG分數以企業的ESG表現來評分，分數從0到100，包含E（環境）、S（社會）、G（治理）三個面向的分數、同業比較、歷史分數變化、及不同類別的關鍵ESG數據。 S&P
                Global的ESG分數涵蓋全球9200家企業，占全球資本總額的95%</p>
              <a href="https://www.spglobal.com/spdji/tc/indices/equity/sp-500/#overview"
                class="btn btn-primary">官方網頁</a>
            </div>
          </div>
        </div>

        <div><hr></div>

        <div class="col-6 col-md-4">
          <div class="card" style="height: 100%; width: 100%;">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/ISS-ESG.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">S&P</h5>
              <p class="card-text">S&P
                Global的ESG分數以企業的ESG表現來評分，分數從0到100，包含E（環境）、S（社會）、G（治理）三個面向的分數、同業比較、歷史分數變化、及不同類別的關鍵ESG數據。 S&P
                Global的ESG分數涵蓋全球9200家企業，占全球資本總額的95%</p>
              <a href="https://www.spglobal.com/spdji/tc/indices/equity/sp-500/#overview"
                class="btn btn-primary">官方網頁</a>
            </div>
          </div>
        </div>
        
        <div class="col-6 col-md-4">
          <div class="card" style="height: 100%; width: 100%;">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/FT.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">S&P</h5>
              <p class="card-text">S&P
                Global的ESG分數以企業的ESG表現來評分，分數從0到100，包含E（環境）、S（社會）、G（治理）三個面向的分數、同業比較、歷史分數變化、及不同類別的關鍵ESG數據。 S&P
                Global的ESG分數涵蓋全球9200家企業，占全球資本總額的95%</p>
              <a href="https://www.spglobal.com/spdji/tc/indices/equity/sp-500/#overview"
                class="btn btn-primary">官方網頁</a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4">
          <div class="card" style="height: 100%; width: 100%;">
            <img style="height: 100%; width: 100%;"
            src="../../assets/images/TIAWAN.jpg "
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">S&P</h5>
              <p class="card-text">S&P
                Global的ESG分數以企業的ESG表現來評分，分數從0到100，包含E（環境）、S（社會）、G（治理）三個面向的分數、同業比較、歷史分數變化、及不同類別的關鍵ESG數據。 S&P
                Global的ESG分數涵蓋全球9200家企業，占全球資本總額的95%</p>
              <a href="https://www.spglobal.com/spdji/tc/indices/equity/sp-500/#overview"
                class="btn btn-primary">官方網頁</a>
            </div>
          </div>
        </div>





      </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/images/MSCI.jpg " alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/MSCI.jpg " alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src='../../assets/images/ISS-ESG.jpg ' alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>
    </div>
  </div>
  回饋意見
