body{

    background-color: #eee; 
  }
  .context_{
font-size: 20px;
  }
  .card{
    padding: 15px;
    border:none;

  }
  .card-body{
    transition:  0.2s ease-in;
  }
  
  .btn btn-primary:hover{
    transform: scale(1.5);
    box-shadow: inset 300px 0px 0px 0px rgb(4, 7, 20);
    background: #01a18f;
    cursor: pointer;
  }

  .back{
    min-height: 50vh;
    background-color: black;
  }
  #animated-text {
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
  }

  #animated-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 0.8s, transform 0.8s;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }

  }
  
  .back1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(141,190,122,0) 50%, rgba(0,0,0,1) 100%)
    ,radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 84%, rgba(0,0,0,1) 100%)
    ,url('../../assets/images/background.jpg');
  }


  .input-box{
    position: relative;
  }
  
  .input-box i {
    position: absolute;
    right: 13px;
    top:15px;
    color:#ced4da;
  
  }
  
  .form-control{
  
    height: 50px;
    background-color:rgba(97, 97, 97, 0.377)
    
  }
  
  .form-control:focus{
    background-color: rgb(0, 66, 0);
    box-shadow: none;
    border-color: #eeeeee;
  }
  
  
  .list{
  
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  
  }
  
  .border-bottom{
  
    border-bottom: 2px solid #eee;
  }
  
  .list i{
    font-size: 19px;
    color: red;
  }
  
  .list small{
  
    color:#dedddd;
  }
  .btn-btn-primary{
text-align: center;
  }


  //新增
  $primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 185%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#222222;
}