html, body{
    padding:0px;
    margin:0px;
    font-family: 'Raleway', sans-serif;
    color:#FFF;
    height:100%;
 }
 body{
    background:rgba(0, 0, 0, 0.5); 
 }
 
 .container1{
    max-width:200px;
    background:rgba(85, 136, 255, 0.75);
    margin:40px auto;
    padding:10px 0px 20px 0px;
    border:1px solid #7cefe0;
    border-radius:2px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
 }
 .link{
    font-size:25px;
    font-weight:300;
    text-align:center;
    position:relative;
    height:40px;
    line-height:40px;
    margin-top:10px;
    overflow:hidden;
    width:90%;
    margin-left:5%;
    cursor:pointer;
 }
 .link:after{
    content: '';
    position:absolute;
    width:80%;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    bottom:0%;
    left:-100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
 }
 .link:hover:after,
 .link.hover:after{
    left:100%;
 }
 .button {
   background-color: #1d6d1f; /* 碧绿色背景 */
   color: rgb(255, 255, 255); /* 白色文字 */
   text-align: center; /* 文字居中对齐 */
   text-decoration: none;
   display: inline-block;
   font-size: 25px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 8px; /* 圆角边框 */
   padding: 10px 20px; /* 按钮内边距 */
   transition-duration: 0.3s; /* 悬停效果持续时间 */
 }
 
 .button:hover {
   background-color: #45a049; /* 悬停时背景颜色变化 */
   color: white; /* 悬停时文字颜色变化 */
 }
 