<div class="">
    <br/>
    <p>{{id}}</p>
    <div class="border border-4 vh-100" style=" background: linear-gradient(135deg, #696969, #131313);">
      <div class="row">
        <div class="p-5 col-4">            
          <div class="card border-primary mb-3" style="max-width: 15rem;background-color: black;">
              <div class="card-body">
                <h4 class="card-title">sustainalytics</h4>
                <p class="card-text">{{items.susESG}}</p>
              </div>
          </div>
          <div class="card border-primary mb-3" style="max-width: 15rem;background-color: black;">
              <div class="card-body">
                <h4 class="card-title">MSCI</h4>
                <p class="card-text">{{items.msciESG}}</p>
              </div>
          </div>
          <div class="card border-primary mb-3" style="max-width: 15rem;background-color: black;">
              <div class="card-body">
                <h4 class="card-title">FTSE Russell</h4>
                <p class="card-text">{{items.ftseESG}}</p>
              </div>
          </div>
          <div class="card border-primary mb-3" style="max-width: 15rem;background-color: black;">
              <div class="card-body">
                <h4 class="card-title">ISS</h4>
                <p class="card-text">{{items.issESG}}</p>
              </div>
          </div>
          <div class="card border-primary mb-3" style="max-width: 15rem;background-color: black;">
              <div class="card-body">
                <h4 class="card-title">S&P Global</h4>
                <p class="card-text">{{items.sapESG}}</p>
              </div>
          </div>
          <div class="card border-primary mb-3" style="max-width: 15rem;background-color: black;">
              <div class="card-body">
                <h4 class="card-title">台灣公司治理評鑑</h4>
                <p class="card-text">{{items.twCompanyRank}}</p>
              </div>
          </div>
          <div class="card border-primary mb-3" style="max-width: 15rem;background-color: black;">
              <div class="card-body">
                <h4 class="card-title">Refinitiv (Asset4)</h4>
                <p class="card-text">{{items.refi}}</p>
              </div>
          </div>
        </div> 
        <div class="p-5 col-8">
          <button class="btn btn-primary" (click)="getChart('bar')">取得直方</button>
          <button class="btn btn-primary" (click)="getChart('radar')">取得雷達</button>
          <button class="btn btn-primary" (click)="getChart('pie')">取得圓餅</button>
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
               
    </div>
    
</div>